In [2]:
import pandas as pd, os, sys

In [3]:
os.getcwd()

'/Users/zachisaacson/git/AMLSim'

# text note

In [4]:
txn_df = pd.read_csv('outputs/sample/transactions.csv')
accounts_df = pd.read_csv('outputs/sample/accounts.csv')

In [5]:
txn_df.head()

,tran_id,orig_acct,bene_acct,tx_type,base_amt,tran_timestamp,is_sar,alert_id
0,1,3024,3248,TRANSFER,100.0,2017-01-01T00:00:00Z,False,-1
1,2,6154,5266,TRANSFER,100.0,2017-01-01T00:00:00Z,False,-1
2,3,8674,3646,TRANSFER,100.0,2017-01-01T00:00:00Z,False,-1
3,4,5774,3308,TRANSFER,100.0,2017-01-01T00:00:00Z,False,-1
4,5,7568,385,TRANSFER,100.0,2017-01-01T00:00:00Z,False,-1

In [ ]:
txn_df[txn_df['is_sar']]

In [ ]:
accounts_df.shape

In [ ]:
accounts_df.columns

In [ ]:
accounts_df.iloc[0]